    <div class="ui form">
        <div class="inline fields">
            <label>
                How often do you use checkboxes?</label>
            <div class="field">
                <div class="ui radio checkbox">
                    <input name="frequency" checked="checked" type="radio">
                    <label>
                        Once a week</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input name="frequency" type="radio">
                    <label>
                        2-3 times a week</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input name="frequency" type="radio">
                    <label>
                        Once a day</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input name="frequency" type="radio">
                    <label>
                        Twice a day</label>
                </div>
            </div>
        </div>
    </div>