<div class="ui list segments">
  <div class="item segment">
         <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>Checkbox</label>
        </div>
      </div>
  </div>
    <div class="item  segment">
         <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>Checkbox</label>
        </div>
      </div>
  </div>
    <div class="item  segment">
         <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>Checkbox</label>
        </div>
      </div>
  </div>
    <div class="item  segment">
         <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>Checkbox</label>
        </div>
      </div>
  </div>
      <div class="item  segment">
         <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>Checkbox</label>
        </div>
      </div>
  </div>
      <div class="item  segment">
         <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>Checkbox</label>
        </div>
      </div>
  </div>
      <div class="item  segment">
         <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>Checkbox</label>
        </div>
      </div>
  </div>
      <div class="item  segment">
         <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>Checkbox</label>
        </div>
      </div>
  </div>
      <div class="item  segment">
         <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>Checkbox</label>
        </div>
      </div>
  </div>
      <div class="item  segment">
         <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>Checkbox</label>
        </div>
      </div>
  </div>
      <div class="item  segment">
         <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>Checkbox</label>
        </div>
      </div>
  </div>
      <div class="item  segment">
         <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>Checkbox</label>
        </div>
      </div>
  </div>
      <div class="item  segment">
         <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>Checkbox</label>
        </div>
      </div>
  </div>
      <div class="item  segment">
         <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>Checkbox</label>
        </div>
      </div>
  </div>
      <div class="item  segment">
         <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>Checkbox</label>
        </div>
      </div>
  </div>
      <div class="item  segment">
         <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>Checkbox</label>
        </div>
      </div>
  </div>
      <div class="item  segment">
         <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>Checkbox</label>
        </div>
      </div>
  </div>
  </div>
