<?xml version='1.0' encoding='utf-8'?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
     xmlns:gap   = "http://phonegap.com/ns/1.0"
     xmlns:android   = "http://schemas.android.com/apk/res/android"
     id          = "com.edutourApp"
     versionCode = "1"
     version     = "1.0.0" >
  <gap:config-file platform="ios" parent="CFBundleShortVersionString">
    <string>1/string>
  </gap:config-file>
  <name>EduTour App</name>
  <description>
    EduTour App
  </description>
  <author email="ismail@eduqestindia.in" href="www.eduquestindia.in">
    Mohamed Ismail - ISZA Technologies
  </author>  
  <gap:config-file platform="android" parent="/manifest">
    <application android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
  </gap:config-file> 
  <preference name="permissions"                value="none"/>
  <preference name="fullscreen"                 value="true" />
  <preference name="exit-on-suspend"            value="false" />
  <preference name="show-splash-screen-spinner" value="true" />
  <preference name="auto-hide-splash-screen"    value="false" />

  <access origin="*" />
</widget>
